body{
    font-size: 15px;
    background-color:rgba(255,140,0,0.3);
    color:black;
}

article{
width:1000px;
padding: 30px;
margin: 50px auto 0;
background-color: #fff;
border-radius: 20px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
}

#appoint{
    margin-bottom: 30px;
    box-sizing: border-box;
    border:solid 1px orange;
    border-radius: 10px;
}

#appoint>h4{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    background-color: orange;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#appoint>ul{
    padding:0 20px;
    margin-bottom: 20px;
}

#appoint>ul>li{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

#appoint>ul>li>label{
    width:15%;
}

#appoint>ul>li>input, #appoint>ul>li>textarea{
    width:80%;
    border:solid 1px orange;
    border-radius: 5px;
    padding:10px;
}

#appoint>p{
    padding:0 20px;
    margin-bottom:20px;
    text-align:left;
  }

  #appoint>p>input{
    width:788px;
    margin-left:15%;
    border:none;
    padding:10px;
    border-radius:4px;
    color:#666;
    background-color:olivedrab;
    color:#fff;
    cursor:pointer;
  }

#appoint>p>button{
    width:80%;
    border:none;
    border-radius: 10px;
    background-color: olivedrab;
    color:#fff;
    padding:10px;
    height: 100%;
}

/* search */
#search{
    border:1px solid orange;
    border-radius: 10px;
    margin-bottom:20px;
    position:relative;
}

#search>p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 20px;
    position:relative;
    height:40px;
}

#search input{
    margin:10px;
    padding: 8px 0;
    width:80%;
    text-indent: 20px;
}

#search button{
    position:absolute;
    right:0; top:0;
    width:15%;
    border:none;
    border-radius: 10px;
    background-color: olivedrab;
    color:#fff;
    height: 100%;
}

#search>ul{
    position:absolute;
    right:-30px; top:40px;
    z-index: 100;
    margin:10px;
    padding:10px;
    box-sizing: border-box;
    width:20%;
    text-align: center;
    font-size:13px;
    border: 1px solid orange;
    border-radius: 20px;
    background-color: #fff;
}

#search>ul>li{
    padding:10px 0;
    border-bottom: 1px dotted orange;
}

#search>ul>:last-child{
    border-bottom: none;
}

/* list */
#list{
    padding:0 20px;
}

#list>ul>li{
    border-bottom:1px solid #ddd;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding:20px 0;
}

#list>ul>li>dl{
    width:80%;
    position:relative;
}

#list>ul>li>dl>dt{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom:10px;
    color:green;
}

#list>ul>li>dl>dd.owner{
    margin-bottom: 10px;
}
#list>ul>li>dl>dd.owner>dfn{
    font-size:15px;
    padding-right:10px;
    margin-bottom:10px;
    color:blue;
}
#list>ul>li>dl>dd.date{
    position:absolute;
    right:0; top:0;
}

#list>ul>li>p{
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#list>ul>li>p>button{
    width:30px;
    height: 30px;
    border:none;
    background-color: olivedrab;
    border-radius: 10px;
}